*{
    box-sizing: border-box;
}
html,body{
    margin: 0;
}
header, main, footer{
    text-align: center;
}
header, .form, main{
    width: 90%;
    max-width: 500px;
    margin: 0 auto 70px auto;
}
header button{
    margin-top: 8px;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: rgb(0, 183, 255);
    color: white;
    border: 2px rgb(0, 183, 255) solid;
}
body{
    display:flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
}
header h1, main h2{
    margin-bottom: 70px;
}
footer{
    margin-top: auto;
    padding: 16px;
    border: 1px solid #eee;
}
form input, form button{
    width: 100%;
    margin-bottom:4px;
    box-sizing: border-box;
    padding: 8px 16px 8px 16px;
    border-radius: 4px;
    border: 1px #ffffffaa solid;
}
form input{
    background-color: transparent;
}
form input::placeholder{
    color: #ffffffaa
}
h1, h2{
    color: #000000ee;
}
header button, form button{
    font-weight: bold;
}
.socials{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.logo{
    width: 30px;
    cursor: pointer;
    margin: 30px;
}
section.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 45px;
    background-color: rgb(0, 183, 255);
    padding: 16px 64px;
    align-items: center;
    border-radius: 6px;
}
.form h2{
    text-align: right;
    color: #ffffffee;
    font-size: 18px;
}
section.form{
    transition: all 600ms;
}

section.form.hide{
    opacity:0;
    visibility: hidden;
    height: 0;
    margin-top: -70px;
}