.login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 60px;
}
.logo-container img {
  width: 500px;
}
.login-container form {
  display: flex;
  flex-direction: column;
}
