.home {
  height: 100vh;
  background: url("../../assets/logo.svg") no-repeat center 230px;
  background-size: 50%;
}
.main {
  width: 90%;
  max-width: 980px;
  margin: auto;
}
.main h1,
.main h3,
.main p {
  margin-top: 15px;
  text-align: center;
}
.main h1 {
  font-size: 4.2rem;
  font-weight: bold;
}
.main h1 span {
  color: #6c63ff;
}
.login-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-container form {
  display: flex;
  flex-direction: column;
}
.login-container form input {
  border: 1px solid #dadae0;
  border-radius: 6px;
  transition: ease-in-out 200ms;
  margin-top: 10px;
  width: 250px;
  height: 42px;
}
.login-container form input::placeholder {
  padding: 10px;
}
.login-container form input:focus {
  border: 1px solid #6c63ff;
}
.login-container form button {
  color: #fff;
  margin-top: 10px;
  border-radius: 6px;
  margin-top: 10px;
  width: 250px;
  height: 42px;
}
.login-container a {
  font-weight: bold;
}
