*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background: #f9f9f9 ;
    height: 100vh;
}
body, ul, li, p{
    font-family: "Roboto", sans-serif;
    list-style: none;  
}
.header{
    background: rgb(0, 183, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
header p{
    font-size: 18px;
    font-weight: bold;
}
.menu{
    display: flex;
}
.menu li{
    margin-left: 10px;
}
.menu li a{
    display: block;
    padding: 10px;
}
a{
    text-decoration: none;
    color: black;
}
footer{
    text-align: center;
    padding: 16px;
    margin-top: auto;
    border: 1px solid #eee;
}

.tab{
    margin-top: 40px;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
}
.tab button {
    background-color: inherit;
    float: left;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
.tab button:hover {
    background-color: #ddd;
}